$text-color: #031050;
$button-and-paginate: #3F2091;

table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    border: none;
    text-align: left;
    font-family: 'Poppins', serif !important;
  }
  thead, th {
    background-color: $text-color !important;
    color: white !important;
    font-family: 'Poppins', serif !important;
    text-align: left !important;
    padding-left: 3px;
    margin-left: 5px !important;
  }
  tr:nth-child(even) {
    background-color: #F4F7FE !important;
  }
  tr:nth-child(odd) {
    background-color: #F9FBFE !important;
  }
  tr:hover {
    background: #a7baef !important;
    cursor: pointer;
  }
  tbody {
    tr > td {
      padding: 5px !important;
      border: none !important;
      padding-left: 1.5rem !important;
    }
    tr {
      text-align: left;
      height: 5px !important;
    }
  }
}
.ant-btn-round {
  height: 42px !important;
  padding: 2px 10px !important;
}
::ng-deep .ant-table-container {
  border: none !important;
  box-shadow: none !important;
}
.ant-table-pagination {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 0.5rem;
  margin-top: 1rem !important;
}
.ant-pagination-item {
  border-radius: 9999px !important; /* circular pagination */
}

.ant-pagination, .ant-pagination ol, .ant-pagination ul{
  margin: 18px !important;
}
.list-button {
  font-family: 'Poppins', serif;
}
.table-controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.ant-btn-primary {
  border-color: transparent !important;
  background-color: #5E33CE !important;
}

.ant-btn-primary:hover {
  background-color: $text-color !important;
}
.ant-btn-primary.left-side {
  border-color: transparent !important;
  background-color: $button-and-paginate !important;
}

.ant-btn-primary.left-side:hover {
  background-color: #cbc2e8 !important;
  color: $text-color !important;
}
.paginate-color {
  background-color: $button-and-paginate !important;;
}
.ant-btn-round.ant-btn-sm{
  height: 30px !important;
  padding: 0 7px !important;
}
.ant-table-footer, .ant-table-thead > tr > th {
  background: #ffffff;
}
.ant-modal-content {
  border-radius: 8px !important;
}
.ant-modal-header {
  border-radius: 11px !important;
}

.column-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  height: 400px;
}

.column-list {
  flex: 1;
  background: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  border-radius: 8px;
}

.column-item {
  background: white;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', serif;
  transition: background-color 0.3s ease;
}


.column-item-selected {
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', serif;
  transition: background-color 0.3s ease;
}

.column-item:hover {
  background-color: #e0e0e0;
}
