<div class="bg-white rounded-lg p-5 mt-20 ml-5 mr-5 overflow-hidden shadow-[0_10px_25px_-5px_rgba(0,0,0,0.14)]">
  <h4 class="font left-text text-xl font-semibold mb-5">{{title}}</h4>

  <!-- Angular Bindings Demo Row -->
  <div class="flex justify-between gap-5">

    <!-- Interpolation -->
    <div class="w-1/4 p-4 border rounded-lg shadow-sm">
      <h5 class="font-bold mb-2 text-pink-700 pb-10">{{'interpolation' | translate}}</h5>
      <p class="mb-2 text-gray-700">{{'hello_user' | translate: name}}</p>
    </div>

    <!-- Property Binding -->
    <div class="w-1/4 p-4 border rounded-lg shadow-sm">
      <h5 class="font-bold mb-2 text-pink-700 pb-10">{{ 'property_binding' | translate }}</h5>
        <input [disabled]="isDisabled" [class]="classes" [placeholder]="'placeholder' | translate">
      <img [src]="imageUrl" alt="" class="p-4 rounded mt-1 bg-gray-100">
    </div>

    <!-- Event Binding -->
    <div class="w-1/4 p-4 border rounded-lg shadow-sm">
      <h5 class="font-bold mb-2 text-pink-700 pb-10">{{'event_binding' | translate}}</h5>
      <button class="bg-pink-800 text-white py-1 px-3 rounded mb-7" (click)="incrementCount()" style="color: white">
       {{'click_me' |translate}}
      </button>
      <p class="text-gray-700 pt-4">{{'click_count_times' |translate: count}}</p>
    </div>

    <!-- Two-Way Binding -->
    <div class="w-1/4 p-4 border rounded-lg shadow-sm">
      <h5 class="font-bold mb-2 text-pink-700 pb-10">{{'two_way_binding' | translate}}</h5>
      <input type="text" [(ngModel)]="twoWayText" class="border rounded p-1 w-full mb-2">
      <p class="text-gray-700 text-left pt-2 font-bold">{{ twoWayText }}</p>
    </div>

  </div>
</div>
